* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.app {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.bg-img {
  position: absolute;
  top: 50%; /* Set to 50% from the top */
  left: 50%; /* Set to 50% from the left */
  transform: translate(-50%, -50%); /* Center the image */
  max-height: 100vh; /* Occupy the whole height of the page */
  max-width: 100%; /* Occupy the whole width of the page */
  object-fit: contain;
  margin: 0;
  padding: 0;
  z-index: 0;
}

.video-player {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
  z-index: 1;
}
